---
import Landing from "../components/ReactPages/Landingv2";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div transition:name="landing-page" transition:animate="fade">
    <Landing id="landing" client:load />
  </div>
</Layout>
