---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Welcome to Microdosis Ilumina</h1>
        <p>Explore our collection of high-quality products.</p>
    </div>
</Layout>
