---
import { getStock } from "../utils/stock";
import { getProducts } from "../utils/stock";

const products = await getProducts();
const stock = await getStock();

console.log("products", products);
console.log("stock", stock);
---

<div>holaa testeandoź</div>
